<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstraphead.html' %}
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% include 'navbar.html' %}
<div class="container" id="MainContainer">
    <div class="row">
        <div class="col-1 col-md-2">

        </div>
        <div class="col-10 col-md-8">
            <p class="display-6" id="ContainerHeader">Manage Manning</p>


            <table class="table m-0">
                <thead>
                    <tr>
                        <th scope="col" id="dutypostnumberingtd">#</th>
                        <th scope="col">Name</th>
                        <th scope="col" id="dutypostbuttontd"></th>
                    </tr>
                </thead>
                <tbody>
                {% for key in manningdata %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{key['name']}}</td>
                        <td>
                            <!-- Call to action buttons -->
                            <ul class="list-inline m-0">
                                <li class="list-inline-item">
                                 <a href="ViewManning/ManageDuties/{{key['_id']}}"><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button></a>
                                </li>
                                <li class="list-inline-item">
                                    <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="col-1 col-md-2">

        </div>

    </div>
</div>
</body>
</html>
