<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstraphead.html' %}
    <meta charset="UTF-8">
    <title>Manage User</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% include 'navbar.html' %}
<div class="container" id="MainContainer">
    <div class="row">
        <div class="col-1 col-md-2">

        </div>
        <div class="col-10 col-md-8">
            <p class="display-6" id="ContainerHeader">Manage User</p>

            <form method="POST" action="">
                  <div class="mb-3">
                    <label for="UserName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="UserName" name="Name" required>
                  </div>

                  <div class="mb-3">
                    <label for="UserRole" class="form-label">User Role</label>
                    <select class="form-select" aria-label="UserRole" id="UserRole" onchange="myFunction('main',0)" name="Role" required>
                        {% for i in roles %}
                        <option value="{{roles[i][1]}}" >{{i}}</option>
                        {% endfor %}
                    </select>
                    <div class="form-text">To create a new role click on this link</div>
                  </div>

                  <div class="mb-3 input-group">
                    <label for="UserContact" class="form-label input-group">PhoneNumber</label>
                    <span class="input-group-text">+65</span>
                    <input type="tel" class="form-control" id="UserContact" name="contact" required>
                  </div>
                  <div class="mb-3 input-group">
                    <label for="standgatepri" class="form-label input-group">Stand Gate Priority</label>
                    <input type="number" class="form-control" id="StandGatePri" name="standgatepri" required>
                  </div>

                  <div class="mb-3" id="UserRestrictionsSection">
                    <p class="display-6" id="switchlabel" >User Restrictions</p>
                    {% for key in RestrictionsAvailable %}

                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="{{RestrictionsAvailable[key]}}" loopcount="0" name="{{RestrictionsAvailable[key]}}">
                      <label class="form-check-label" for="{{RestrictionsAvailable[key]}}" loopcount="0">{{key}}</label>
                    </div>
                      {% endfor %}
                  </div>
                  <div class="mb-3">
                    <button type="submit" class="btn btn-primary mb-3">Add User</button>
                  </div>

            </form>
                <table class="table m-0">
                <thead>
                    <tr>
                        <th scope="col" id="dutypostnumberingtd">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Priority</th>

                        <th scope="col" id="dutypostbuttontd"></th>
                    </tr>
                </thead>
                <tbody>
                {% for value in users %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{value['name']}}</td>
                        <td>{{value['standgatepri']}}</td>

                        <td>
                            <!-- Call to action buttons -->
                            <ul class="list-inline m-0">
                                <li class="list-inline-item">
                                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit" data-bs-toggle="modal" data-bs-target="#exampleModal{{value['_id']}}"><img class="tableicons" src="{{url_for('static',filename='icons/eye.png') }}"></button>
                                </li>
                                <div class="modal fade" id="exampleModal{{value['_id']}}" tabindex="-1" aria-labelledby="exampleModalLabel{{value['_id']}}" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel{{value['_id']}}">Edit Role</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <form method="POST" action="/EditUser">
                                      <div class="modal-body">

                                              <div class="mb-3">
                                                <label for="RoleName" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="OldRoleName" name="OldUserName" value="{{value['_id']}}" style="display:none" required>
                                                <input type="text" class="form-control" id="RoleName" name="Username" value="{{value['name']}}" required>

                                              </div>

                  <div class="mb-3">
                    <label for="UserRole{{loop.index}}" class="form-label">User Role</label>
                    <select class="form-select" aria-label="UserRole{{loop.index}}" id="UserRole{{loop.index}}" onchange="myFunction('modal',{{loop.index}})" name="Role" required>
                        {% for i in roles %}
                        <option {% if  value['role']==roles[i][1] %} selected {% endif %} value="{{roles[i][1]}}" >{{i}}</option>
                        {% endfor %}
                    </select>
                    <div class="form-text">To create a new role click on this link</div>
                  </div>

                  <div class="mb-3 input-group">
                    <label for="UserContact" class="form-label input-group">PhoneNumber</label>
                    <span class="input-group-text">+65</span>
                    <input type="tel" class="form-control" id="UserContact" name="contact" value="{{value['contact']}}" required>
                  </div>

                  <div class="mb-3 input-group">
                    <label for="standgatepri" class="form-label input-group">Stand Gate Priority</label>
                    <input type="number" class="form-control" id="StandGatePri" name="standgatepri" value="{{value['standgatepri']}}"required>
                  </div>

                  <div class="mb-3" id="UserRestrictionsSection">
                    <p class="display-6" id="switchlabel" >User Restrictions</p>
                          {% set outer_loop = loop %}

                    {% for key in RestrictionsAvailable %}

                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="{{RestrictionsAvailable[key]}}"loopcount='{{outer_loop.index}}' name="{{RestrictionsAvailable[key]}}" {% if  RestrictionsAvailable[key] in value['restrictions'] %} checked {% endif %}>
                      <label class="form-check-label" for="{{RestrictionsAvailable[key]}}" loopcount='{{outer_loop.index}}'>{{key}}</label>
                    </div>
                      {% endfor %}
                  </div>


                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                      </div>
                                        </form>
                                    </div>
                                  </div>
                                </div>

                                <li class="list-inline-item">
                                    <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><img class="tableicons"  src="{{url_for('static',filename='icons/dustbin.png') }}"></button>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
        <div class="col-1 col-md-2">

        </div>

    </div>
</div>
<script>
    var roles={{roles|safe}}
    var RestrictionsAvailable={{RestrictionsAvailable|safe}}
    var switchestoon = [];

    function myFunction(location,counter) {
    console.log(location,counter)
    if (location=="main"){

        var roleid = document.getElementById('UserRole').value;
        }
     else if (location=='modal'){
         var roleid = document.getElementById('UserRole'+counter).value;
        }
        console.log(roleid,location,counter)

        for (let i = 0; i < Object.keys(roles).length; i++) {
            if (roleid == roles[Object.keys(roles)[i]][1]) {
                switchestoon = roles[Object.keys(roles)[i]][0];
            }

        }

        for (let i = 0; i < document.getElementsByClassName("form-check-input").length; i++) {
            console.log(document.getElementsByClassName("form-check-input")[i])
            if (switchestoon.includes(document.getElementsByClassName("form-check-input")[i].name.toString()) && (document.getElementsByClassName("form-check-input")[i].getAttribute("loopcount")==counter ) ) {
                document.getElementsByClassName("form-check-input")[i].checked = true

            }
            else if (document.getElementsByClassName("form-check-input")[i].getAttribute("loopcount")==counter ) {
                document.getElementsByClassName("form-check-input")[i].checked = false
            }
        }
    }

</script>
</body>
</html>
