<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstraphead.html' %}
    <meta charset="UTF-8">
    <title>Create Manning</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
{% include 'navbar.html' %}
<div class="container-fluid" id="MainContainer">

    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                    type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Manage Duties
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                    type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Assign Troopers
            </button>
        </li>
    </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                 tabindex="0">
                <div class="row">

                    <div class="col-6" style="  position: -webkit-sticky; /* Safari */
  position: sticky; top:0; background:white">
                        <p class="display-6" id="ContainerHeader">{{data['name']}}</p>
                        <p class="display-6" id="ContainerHeader">Start: {{data['StartDate']}} {{data['StartTime']}}</p>
                        <p class="display-6" id="ContainerHeader">End: {{data['EndDate']}} {{data['EndTime']}}</p>
                    </div>
                    <div class="col-6 " style="  position: -webkit-sticky; /* Safari */
  position: sticky; top:0; background:white">
                        <form action="" method="post" class="row g-3" target="frame">

                            <div class="col mb-3">
                                <label for="UserRole" class="form-label">User Role</label>
                                <select class="form-select" aria-label="UserRole" id="UserRole"
                                        onchange="myFunction('main',0)" name="DP" required>
                                    {% for i in dutypostsnames %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endfor %}
                                </select>
                                <div class="form-text">To create a new role click on this link</div>
                            </div>

                            <div class="col mb-3">
                                <label for="StartDate" class="form-label">Start Date</label>
                                <input type="text" class="form-control" id="StartDate" name="StartDate" required>
                            </div>
                            <div class="col mb-3">
                                <label for="StartTime" class="form-label">Start Time</label>
                                <input type="number" class="form-control" id="StartTime" required placeholder="1200"
                                       aria-describedby="StartTimeHelp" name="StartTime">
                                <div id="StartTimeHelp" class="form-text">Use 24hr format without : (eg:1200)</div>
                            </div>
                            <div class="col mb-3">
                                <label for="EndDate" class="form-label">End Date</label>
                                <input type="text" class="form-control" id="EndDate" name="EndDate" required>
                            </div>
                            <div class="col mb-3">
                                <label for="EndTime" class="form-label">End Time</label>
                                <input type="number" class="form-control" id="EndTime" required placeholder="1200"
                                       aria-describedby="StartTimeHelp" name="EndTime" max="2359">
                                <div id="EndTimeHelp" class="form-text">Use 24hr format without : (eg:1200)</div>
                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary mb-3">Add Duty</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-12">

                        <table class="table table-bordered">
                            <thead style="  position: sticky;
  top: 210px;
  background-color: hsl(0, 0%, 100%);">
                            <tr>
                                <th scope="col" style="">Time</th>
                                {{dutypostnames}}
                                {% for i in dutypostsnames %}
                                <th scope="col">{{i}}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for k in timestamps %}
                            <tr>
                                <th scope="row">{{k}}</th>
                                {% for i in dutypostsnames %}
                                {% if i in timestamps[k].keys() and 'voiditem' not in timestamps[k][i]%}

                                <td  rowspan="{{timestamps[k][i][0]}}" class="table-info" align="center"
                                    style="vertical-align: middle;">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal{{timestamps[k][i][1]}}">{{i}}
                                    </button>
                                </td>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal{{timestamps[k][i][1]}}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel{{timestamps[k][i][1]}}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5"
                                                    id="exampleModalLabel{{timestamps[k][i][1]}}">Edit Chunk</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <form method="post" action="/UpdateChunk/{{id}}">

                                                <div class="modal-body">
                                                    <input type="text" class="form-control" id="ChunkId" name="ChunkId"
                                                           value="{{timestamps[k][i][1]}}" required>

                                                    <div class="col mb-3">
                                                        <label for="StartDate" class="form-label">Start Date</label>
                                                        <input type="text" class="form-control" id="StartDate"
                                                               name="StartDate" value="{{timestamps[k][i][2]}}"
                                                               required>
                                                    </div>
                                                    <div class="col mb-3">
                                                        <label for="StartTime" class="form-label">Start Time</label>
                                                        <input type="number" class="form-control"
                                                               value="{{timestamps[k][i][3]}}" id="StartTime" required
                                                               placeholder="1200" aria-describedby="StartTimeHelp"
                                                               name="StartTime">
                                                        <div id="StartTimeHelp" class="form-text">Use 24hr format
                                                            without : (eg:1200)
                                                        </div>
                                                    </div>
                                                    <div class="col mb-3">
                                                        <label for="EndDate" class="form-label">End Date</label>
                                                        <input type="text" class="form-control" id="EndDate"
                                                               name="EndDate" value="{{timestamps[k][i][4]}}" required>
                                                    </div>
                                                    <div class="col mb-3">
                                                        <label for="EndTime" class="form-label">End Time</label>
                                                        <input type="number" class="form-control" id="EndTime" required
                                                               placeholder="1200" value="{{timestamps[k][i][5]}}"
                                                               aria-describedby="StartTimeHelp" name="EndTime"
                                                               max="2359">
                                                        <div id="EndTimeHelp" class="form-text">Use 24hr format without
                                                            : (eg:1200)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary" name="Save">Save
                                                        changes
                                                    </button>
                                                    <button type="submit" class="btn btn-danger" name="Delete">DELETE
                                                    </button>

                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>


                                    {% elif  'voiditem' not in timestamps[k][i] %}
                                    <td onclick="autofill('{{i}}','{{k}}')"></td>
                                    {% endif %}

                                    {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>

            <div class="tab-pane fade show " id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                 tabindex="0">
                <div class="row">

                    <div class="col-6" style="  position: -webkit-sticky; /* Safari */
  position: sticky; top:0; background:white">
                        <p class="display-6" id="ContainerHeader">{{data['name']}}</p>
                        <p class="display-6" id="ContainerHeader">Start: {{data['StartDate']}} {{data['StartTime']}}</p>
                        <p class="display-6" id="ContainerHeader">End: {{data['EndDate']}} {{data['EndTime']}}</p>
                    </div>
                    <div class="col-6 " style="  position: -webkit-sticky; /* Safari */
  position: sticky; top:0; background:white">
                        <p class="display-6" id="ContainerHeader">Total Duty Hours:{{hoursrequired}}</p>

                        <div   class="row g-3" >


                                <input type="text" class="form-control" id="id" name="id" value="{{id}}" required>


                            <div class="mb-3">
                                <button onclick="submitcompute()"class="btn btn-primary mb-3">Compute</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" style="overflow-x:scroll">

                        <table class="table table-bordered table-responsive" style="">
                            <thead style=" ;
  background-color: hsl(0, 0%, 100%);">
                            <tr>
                                <th scope="col" style="">Time</th>
                                {{dutypostnames}}
                                {% for i in dutypostsnames %}
                                <th scope="col">{{i}}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for k in timestamps %}
                            <tr>
                                <th scope="row">{{k}}</th>
                                {% for i in dutypostsnames %}
                                {% if i in timestamps[k].keys() and 'voiditem' not in timestamps[k][i]%}
                                <td rowspan="{{timestamps[k][i][0]}}" class="table-info" align="center"
                                    style="vertical-align: middle;">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal1{{timestamps[k][i][1]}}">
{{timestamps[k][i][6]}}                                    </button>
                                </td>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal1{{timestamps[k][i][1]}}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel1{{timestamps[k][i][1]}}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5"
                                                    id="exampleModalLabel1{{timestamps[k][i][1]}}">Edit Chunk</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <form method="post" action="/AssignUserToChunk/{{id}}">

                                                <div class="modal-body">
                                                    <input type="text" class="form-control" id="ChunkId" name="ChunkId"
                                                           value="{{timestamps[k][i][1]}}" required>
                                                    <div class="col mb-3">
                                                        <label for="adsasd" class="form-label">Assign Fixed Trooper</label>

                                                        <select class="form-select" aria-label="Default select example" id="adsasd" name="fixedtrooper">
                                                          <option selected value="Random">Random</option>

                                                            {% for z in userdata %}
                                                          <option value="{{z['_id']}}">{{z['name']}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary" name="Save">Save
                                                        changes
                                                    </button>


                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>


                                    {% elif  'voiditem' not in timestamps[k][i] %}
                                    <td onclick="autofill('{{i}}','{{k}}')"></td>
                                    {% endif %}

                                    {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                                    <table class="table m-0">
                <thead>
                    <tr>
                        <th scope="col" id="dutypostnumberingtd">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Standing Gate</th>


                        <th scope="col" id="dutypostbuttontd"></th>
                    </tr>
                </thead>
                <tbody>
                {% for value in userdata %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{value['name']}}</td>
                        <td>{{value['standgatepri']}}</td>
                        <td>
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" name="checkbox_val" role="switch" uid="{{value['_id']}}" id="flexSwitchCheckDefault"  {% if value['_id']|string not in cannotstandlist %} checked{% endif %}>
                            </div>
                        </td>


                        <td>
                            <!-- Call to action buttons -->
                            <ul class="list-inline m-0">
                                <li class="list-inline-item">
                                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit" data-bs-toggle="modal" data-bs-target="#exampleModal{{value['_id']}}"><img class="tableicons" src="{{url_for('static',filename='icons/eye.png') }}"></button>
                                </li>
                                <div class="modal fade" id="exampleModal{{value['_id']}}" tabindex="-1" aria-labelledby="exampleModalLabel{{value['_id']}}" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel{{value['_id']}}">Edit Role</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <form method="POST" action="/EditUser">
                                      <div class="modal-body">

                                              <div class="mb-3">
                                                <label for="RoleName" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="OldRoleName" name="OldUserName" value="{{value['_id']}}" style="display:none" required>
                                                <input type="text" class="form-control" id="RoleName" name="Username" value="{{value['name']}}" required>

                                              </div>

                  <div class="mb-3">
                    <label for="UserRole{{loop.index}}" class="form-label">User Role</label>
                    <select class="form-select" aria-label="UserRole{{loop.index}}" id="UserRole{{loop.index}}" onchange="myFunction('modal',{{loop.index}})" name="Role" required>
                        {% for i in roles %}
                        <option {% if  value['role']==roles[i][1] %} selected {% endif %} value="{{roles[i][1]}}" >{{i}}</option>
                        {% endfor %}
                    </select>
                    <div class="form-text">To create a new role click on this link</div>
                  </div>

                  <div class="mb-3 input-group">
                    <label for="UserContact" class="form-label input-group">PhoneNumber</label>
                    <span class="input-group-text">+65</span>
                    <input type="tel" class="form-control" id="UserContact" name="contact" value="{{value['contact']}}" required>
                  </div>

                  <div class="mb-3 input-group">
                    <label for="standgatepri" class="form-label input-group">Stand Gate Priority</label>
                    <input type="number" class="form-control" id="StandGatePri" name="standgatepri" value="{{value['standgatepri']}}"required>
                  </div>

                  <div class="mb-3" id="UserRestrictionsSection">
                    <p class="display-6" id="switchlabel" >User Restrictions</p>
                          {% set outer_loop = loop %}

                    {% for key in RestrictionsAvailable %}

                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="{{RestrictionsAvailable[key]}}"loopcount='{{outer_loop.index}}' name="{{RestrictionsAvailable[key]}}" {% if  RestrictionsAvailable[key] in value['restrictions'] %} checked {% endif %}>
                      <label class="form-check-label" for="{{RestrictionsAvailable[key]}}" loopcount='{{outer_loop.index}}'>{{key}}</label>
                    </div>
                      {% endfor %}
                  </div>


                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                      </div>
                                        </form>
                                    </div>
                                  </div>
                                </div>

                                <li class="list-inline-item">
                                    <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><img class="tableicons"  src="{{url_for('static',filename='icons/dustbin.png') }}"></button>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

                </div>

                    </div>

            </div>
        </div>

        <iframe style="display:none" name="frame"></iframe>
        <script>
            let flipflop=0
            function autofill(role,time){

            if (flipflop==0){
            console.log(0)
            document.getElementById('UserRole').value=role
            document.getElementById('StartDate').value=time.substring(0, 6)
            document.getElementById('StartTime').value=time.substring(7)


            flipflop=1

            }
            else {
            document.getElementById('UserRole').value=role
            document.getElementById('EndDate').value=time.substring(0, 6)
            document.getElementById('EndTime').value=time.substring(7)

            flipflop=0
            }
            }

            function submitcompute(){
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "http://127.0.0.1:5000/compute");
            xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
            var cannotstand=[]
            for (let i = 0; i < document.getElementsByName('checkbox_val').length; i++) {

                if (document.getElementsByName('checkbox_val')[i].checked==false){
                        cannotstand.push(document.getElementsByName('checkbox_val')[i].getAttribute('uid'))
                }

            }


            const body = JSON.stringify({
              id: "{{id}}",
              cannotstand: cannotstand,
              completed: false
            });
            xhr.onload = () => {
              if (xhr.status == 200) {
                location.reload();
              } else {
                console.log(`Error: ${xhr.status}`);
              }
            };
            xhr.send(body);

            }

        </script>
        <!-- Button trigger modal -->
</div>
</body>
</html>
