 @media screen and (max-width: 1000px){*{
font-size:1.5rem}}

#MainContainer{
margin-top:70px}

#ContainerHeader{
text-align:center}

#switchlabel{
font-size:1rem;
font-weight:500;
}

#dutypostbuttontd{
width: 20%;
min-width: 100px;
}
#dutypostnumberingtd{
width: 10%;
}


.tableicons{
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}
